<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eternity Care Services</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
  </head>
 <%- include('header.ejs') %> 
  <body>
   
 <%- include('./visitor/secondadvertise.ejs') %>


<%- include('./visitor/cards.ejs') %>
<%- include('./visitor/Testinomals.ejs') %>
<%- include('./visitor/readystart.ejs') %>

</body>
<%- include('footer.ejs') %> 
</html>
